
button{
    margin: 5px;
}
input{
    margin:0px 0px 10px 20px
}
header > div{
    width: 100%;
    height: 90px;
    background-color: #444;
    display: flex;
    justify-content: center;
}
header > div > img{
    height: 80px;
    width: 80px;
    margin: 2px;
    align-self: center;
    filter: invert(100%);
}

#lista{
    display: flex;
    flex-wrap: wrap;
}
.master{
    margin: 10px;
}
*{
    margin: 10px;
}
.block{
    background-color: #333;
    width: 400px;
    height: auto;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.block p, .block * h2 {
    overflow-wrap: anywhere;
    color: #dddddd;
    margin-top: 15px;
}
.block * h2{
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-flex;
}
.block > div{
    display: flex;
    justify-content: space-between;
}

.obter{
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: auto;
}

.editardiv{
    flex-direction: column;
}
.editardiv > div{
    display: flex;
    justify-content: space-between;
}

/*Submit*/
.add{
    display: flex;
    justify-content: center;
}
.add > div > div{
    display: flex;
    justify-content: space-between;
}
.add > div{
    background-color: #999;
    padding: 15px;
    border: solid;
    border-width: 2px;
    border-color: #666;
    border-radius: 14px;
}
#mensagem{
    height: 80px;
    width: 250px;
}
#nome{
    margin:0px 81px 10px 20px
}


#obter > img{
    max-width: 20px;
    max-height: 20px;
}
#obterid > img{
    max-width: 20px;
    max-height: 20px;
}
.reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.reverse > input {
    margin: 5px;
    width: 30px;
}

/*icons*/
.editar > img, .deletar > img{
    width: 14px;
    height: 14px;
    vertical-align: top;
    padding: 2px 3.5px;
}
.editar, .deletar{
    align-items: center;
    padding: 0px;
    height: fit-content;
}
.messageedit{
    height: 80px;
    width: 200px;
}

textarea{
    max-width: 250px;
    max-height: 80px;
    font-family: Arial;
}
.block > div > div{
    display: inline-flex;
}

.topbut{
    display: flex;
    flex-direction: column-reverse;
    right: 10px;
    position: fixed;
    top: 0;
    width: 40px;
    height: 90vh;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
    display: flex;
    justify-content: center;
}
.circle a{
    color: white;
    padding: 10px 15px;
}