
button{
    margin: 5px;
}

#lista{
    display: flex;
    flex-wrap: wrap;
}
.master{
    margin: 10px;
}
*{
    margin: 10px;
}
.block{
    background-color: #333;
    width: 400px;
    height: auto;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.block p, .block * h2 {
    overflow-wrap: anywhere;
    color: #dddddd;
    margin-top: 15px;
}
.block * h2{
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-flex;
}
.block > div{
    display: flex;
    justify-content: space-between;
}

.obter{
    display: flex;
    justify-content: space-between;
    width: 560px;
}

.editardiv{
    flex-direction: column;
}
.editardiv > div{
    display: flex;
    justify-content: space-between;
}
