
button{
    margin: 10px;
}

#lista{
    display: flex;
    flex-wrap: wrap;
}

.block{
    background-color: #333;
    width: 400px;
    height: auto;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.block > p, .block > h2 {
    overflow-wrap: break-word;
    color: #dddddd;
}
